/* style.css */

body {
    font-family: 'Vazir', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .club-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 1px #00ff77;
    text-shadow: 0 0 5px #00ff77, 0 0 10px #00ff77;
  }
  
  .neon-404 {
    font-size: 10rem;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 2px #00ff77;
    text-shadow:
      0 0 5px #00ff77,
      0 0 10px #00ff77,
      0 0 20px #00ff77;
    transition: opacity 0.5s ease-in-out;
  }
  
  .dumbbell {
    width: 100px;
    height: auto;
    animation: floaty 3s ease-in-out infinite;
  }
  
  @keyframes floaty {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  .btn-neon {
    background: #00c95f;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 0 10px #00ff77, 0 0 20px #00ff77;
    transition: all 0.3s ease;
  }
  
  .btn-neon:hover {
    background-color: #00a64e;
    box-shadow: 0 0 20px #00ff77, 0 0 40px #00ff77;
  }
  