body {
    font-family: 'Vazir', sans-serif;
}

.neon-green {
    color: #39ff14;
    font-weight: bold;
}

#clock {
    font-family: 'Courier New', monospace;
    letter-spacing: 5px;
    }
